//.Modal

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}
.modal-wrapper {
    z-index: 100;
    width: 400px;
    margin: 20px;
    max-height: calc(100% - 40px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
}
.modal-title {
    display: inline-block;
    align-items: center;
    position: relative;
    height: 43px;
    width: 100%;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.modal-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-text);
    flex-grow: 1;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: center;
    height: 100%;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding: 8px 12px;
    cursor: pointer;
    svg {
        width: 18px;
        height: 18px;
        fill: #262626;
    }
}
.modal-content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    max-height: 368px;
    overflow: auto;
}

.modal-item,
.modal-item-current {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
        background-color: var(--secondary-background);
    }
}

.modal-item-current {
    cursor: auto;
    &:hover {
        background-color: transparent;
    }
}
.modal-avatar {
    margin-right: 12px;
    img {
        width: 56px;
        height: 56px;
    }
}
.modal-username {
    flex: 1 1 auto;
    font-weight: 600;
    color: var(--primary-text);
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.modal-current {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-logOut {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(219, 219, 219);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
