.register {
    margin-top: 36px;
    margin-bottom: 16px;
}

.login {
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.login-main {
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}

.login-header {
    margin-top: 36px;
    margin-bottom: 12px;
}

.login-logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.login-fb-title {
    color: rgba(142, 142, 142, 1);
    font-size: 1.7rem;
    font-weight: var(--font-bold);
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.login-input {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-input-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    margin-bottom: 6px;
    padding: 9px 0 7px 8px;
    align-items: center;
    background: var(--secondary-background);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
    color: var(--primary-text);
    font-size: 12px;
    width: 100%;
    height: 36px;
    outline: none;

    &:focus {
        border: 1px solid rgba(168, 168, 168, 1);
    }
}

.login-input-wrapper {
    position: relative;
    width: 100%;

    .login-input-show {
        position: absolute;
        content: '';
        top: 40%;
        transform: translateY(-50%);
        right: 8px;
        display: none;
        color: var(--primary-text);
    }
}

.login-input-note {
    position: absolute;
    top: 0;
    left: 9px;
    font-size: 1rem;
    color: var(--secondary-text);
    display: none;
}

.login-term {
    color: rgba(142, 142, 142, 1);
    font-size: 1.2rem;
    line-height: 16px;
    text-align: center;
    a {
        font-weight: var(--font-bold);
        color: currentColor !important;
    }
}

.login-btn {
    margin: 8px 0;
    width: 100%;
    text-align: center;
    padding: 5px 9px !important;
}

.login-seperate {
    margin: 10px 40px 18px;
    width: 268px;
    text-align: center;
    color: var(--secondary-text);
    position: relative;

    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 95px;
        border-top: 1px solid rgba(219, 219, 219, 1);
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 95px;
        border-top: 1px solid rgba(219, 219, 219, 1);
    }
}

.login-info {
    margin: 0 40px 10px;
    width: 268px;
    display: flex;
    flex-direction: column;
    line-height: normal;
}

.login-facebook {
    color: #385185 !important;
}

.login-facebook-icon {
    font-size: 1.8rem !important;
}

.login-forgot-password {
    text-align: center;
    margin-top: 12px;
    font-size: 1.2rem;
    color: rgba(0, 55, 107, 1) !important;
}

.register-mb {
    margin-bottom: 20px;
}

.login-ask {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;

    .login-ask-link {
        font-weight: var(--font-bold);
        margin: 0 4px;
    }
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-title {
    margin: 10px 20px;
}

.app-img {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.appstore {
    cursor: pointer;
    height: 40px;
    margin-right: 8px;
}
.googleplay {
    cursor: pointer;
    height: 40px;
}
