//.Modal

.close {
    padding: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}

.modal {
    --creation-header-height: 43px;
    --creation-min-padding-x: 32px;
    --creation-modal-max-height: 898px;
    --creation-modal-min-height: 391px;
    --creation-padding-x: 64px;
    --creation-padding-y: 112px;
    --creation-settings-width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    .modal-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 100;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 12px;
        width: 718px;
        max-width: 855px;
        min-width: 348px;
        max-height: calc(100% - 40px);
        min-height: 391px;
        animation: fade-in 0.1s ease-out;
        @keyframes fade-in {
            from {
                opacity: 0.7;
                scale: 1.2;
            }
            to {
                opacity: 1;
                scale: 1;
            }
        }
    }

    .modal-heading {
        text-align: center;
        color: var(--primary-text);
        width: 100%;
        height: var(--creation-header-height);
        border-bottom: 1px solid rgb(219, 219, 219);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 16px;
    }
    .modal-content {
        color: var(--secondary-text);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vmin - var(--creation-padding-y) - var(--creation-header-height) - var(--creation-padding-x));
        max-height: min(
            calc(100vw - var(--creation-min-padding-x) - var(--creation-settings-width)),
            calc(var(--creation-modal-max-height) - var(--creation-header-height))
        );
        max-width: min(
            calc(100vw - var(--creation-min-padding-x) - var(--creation-settings-width)),
            calc(var(--creation-modal-max-height) - var(--creation-header-height))
        );
        min-height: calc(var(--creation-modal-min-height) - var(--creation-header-height));
        min-width: calc(var(--creation-modal-min-height) - var(--creation-header-height));
    }

    // .content-img {
    // }
    .content-title {
        margin-top: 16px;
        h2 {
            font-weight: 300;
            color: var(--primary-text);
            font-size: 2.2rem;
            line-height: 2.2rem;
            margin: -4px 0 -5px;
        }
    }
    .content-btn {
        margin-top: 24px;
        padding: 4px;
    }

    .content-input {
        display: none;
    }

    @media only screen and (max-width: 912px) {
    }
}
