.wrapper {
    width: 100%;
}
.user-info {
    height: 66px;
    margin-bottom: 10px;
    margin-top: 16px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.user-avatar {
    margin-right: 12px;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: block;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
.user-name {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    .username {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--primary-text);
        font-weight: var(--font-bold);
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin: -3px 0 -4px;
        margin-right: auto;
    }
    .fullname {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--secondary-text);
        font-weight: var(--font-regular);
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 5px 0 -4px;
        margin-right: auto;
    }
    .account-verified {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: -323px -382px;
        height: 12px;
        width: 12px;
        margin-left: 4px;
        background-image: url('../../assets/images/icon-image-2.png');
    }
}
.user-change-account {
    span {
        font-weight: 700;
    }
}
.suggest {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;
}
.suggest-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.suggest-header__title {
    flex: 1 1 auto;
    color: var(--secondary-text);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: -3px 0 -4px;
}
.suggest-header__show-all {
    a {
        color: var(--primary-text) !important;
        display: block;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin: -2px 0 -3px;
        margin-right: 16px;
    }
}

.suggest-none-item {
    width: auto;
    text-align: center;
    color: var(--secondary-text);
    font-weight: var(--font-bold);
    margin: 32px;
}
.suggest-list {
    margin-bottom: 4px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: auto;
    overflow: hidden;
}

.suggest-item {
    padding: 8px 0;
    margin-right: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.suggester-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
        img {
            width: 100%;
        }
    }
}
.suggester-name {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    .suggester-username {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--primary-text);
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: -3px 0 -4px;
        margin-right: auto;
        cursor: pointer;
        span {
            background-image: url('../../assets/images/icon-image-2.png');
            display: inline-block;
            background-repeat: no-repeat;
            background-position: -323px -382px;
            height: 12px;
            width: 12px;
            margin-left: 4px;
        }
    }
    .suggester-follower {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--secondary-text);
        font-weight: var(--font-regular);
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin: -2px 0 -3px;
        margin-top: 8px;
    }
}
.suggester-btn {
    justify-self: flex-end;
    margin-left: auto;
    span {
        font-weight: 700;
    }
}
