.slider {
    background-image: url(../../assets/images/login-background.png);
    width: 100%;
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    align-self: center;
    position: relative;
    height: 581.15px;
}
.slider-img {
    position: absolute;
    margin: 27px 0 0 113px;
    opacity: 0;
    visibility: hidden;
}
